@model Myprotos.Customer

@{
    ViewData["Title"] = "Update Customer";
}

<h2>Update Customer</h2>

<form asp-action="Update" method="post">
    <div>
        <label>ID</label>
        <input asp-for="Id" readonly="readonly" />
    </div>
    <div>
        <label>Name</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label>Gender</label>
        <input asp-for="Gender" />
    </div>
    <div>
        <label>Birthday</label>
        <input asp-for="Birthday" />
    </div>
    <div>
        <label>Address</label>
        <input asp-for="Address" />
    </div>
    <button type="submit">Update</button>
</form>
